<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href = "/views/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
  </head>
  <body>
    <div id = "wrapper">
      <div id = "page_top">
        <div id = "logo"><a href = ""><img src = "" alt = "the logo"></a></div>
        <div id = "profile"><img src = "" alt = "profile picture"></div>
        <h4>Hello <%= user %></h4>
        
        <div id = "logout"><a href="/users/logout">Logout</a></div>
      </div>

      <div id = "content">
        <main>
          <h1>Dashboard</h1>
          
        </main>
        <div id = "forecast">
          <table>
            <thead>
              <tr>
                <th><div id = "day1"></div></th>
                <th><div id = "day2"></div></th>
                <th><div id = "day3"></div></th>
                <th><div id = "day4"></div></th>
                <th><div id = "day5"></div></th>
                <th><div id = "day6"></div></th>
                <th><div id = "day7"></div></th>
                <th><div id = "day8"></div></th>
                <!--Loop through to create days-->
                <script>
                const now = new Date();
                document.querySelector("day1").innerHTML = now.getDate();
                for(let i = 2; i <= 8; i++){ 
                  document.querySelector("#day"+i).innerHTML = parseInt(document.querySelector("day"+i-1).innerHTML) + 1;
                  switch(now.getMonth()){
                    case 1:
                      if(document.querySelector("#day"+i).innerHTML > 31)
                      document.querySelector("#day"+i).innerHTML = 1;
                      break;
                    case 2:
                      if(document.querySelector("#day"+i).innerHTML > 28)
                      document.querySelector("#day"+i).innerHTML = 1;
                      break;
                    case 3:
                      if(document.querySelector("#day"+i).innerHTML > 31)
                      document.querySelector("#day"+i).innerHTML = 1;
                      break;
                    case 4:
                      if(document.querySelector("#day"+i).innerHTML > 30)
                      document.querySelector("#day"+i).innerHTML = 1;
                      break;
                    case 5:
                      if(document.querySelector("#day"+i).innerHTML > 31)
                      document.querySelector("#day"+i).innerHTML = 1;
                      break;
                    case 6:
                      if(document.querySelector("#day"+i).innerHTML > 30)
                      document.querySelector("#day"+i).innerHTML = 1;
                      break;
                    case 7:
                      if(document.querySelector("#day"+i).innerHTML > 31)
                      document.querySelector("#day"+i).innerHTML = 1;
                      break;
                    case 8:
                      if(document.querySelector("#day"+i).innerHTML > 31)
                      document.querySelector("#day"+i).innerHTML = 1;
                      break;
                    case 9:
                      if(document.querySelector("#day"+i).innerHTML > 30)
                      document.querySelector("#day"+i).innerHTML = 1;
                      break;
                    case 10:
                      if(document.querySelector("#day"+i).innerHTML > 31)
                      document.querySelector("#day"+i).innerHTML = 1;
                      break;
                    case 11:
                      if(document.querySelector("#day"+i).innerHTML > 30)
                      document.querySelector("#day"+i).innerHTML = 1;
                      break;
                    case 12:
                      if(document.querySelector("#day"+i).innerHTML > 31)
                      document.querySelector("#day"+i).innerHTML = 1;
                      break;                                                                                      
                  }
                }</script>
                  <!--Replace with calendar data-->
              </tr>
            </thead>


            <tbody>


              <!--Loop through each measurement type to create a row-->
              <tr> 


                  <% for(let j = 0; j < 8; j++) {%>
                    <td> 


                      <!--Might need a new div to style correctly--> 
                      <ul>
                        <% for(let k = 0; k < 24; k++) {%>
                          <!--This line gets each hour's data for the measurement that the i loop is on-->
                          <li> <%= weatherJSON.hourly.temperature_2m[k+(j*24)]%> </li>
                        <% }%>
                      </ul>  


                    </td>
                  <% }%>


                </tr>

                <tr> 


                  <% for(let j = 0; j < 8; j++) {%>
                    <td> 


                      <!--Might need a new div to style correctly--> 
                      <ul>
                        <% for(let k = 0; k < 24; k++) {%>
                          <!--This line gets each hour's data for the measurement that the i loop is on-->
                          <li> <%= weatherJSON.hourly.precipitation[k+(j*24)]%> </li>
                        <% }%>
                      </ul>  


                    </td>
                  <% }%>


                </tr>
              
                <tr> 


                  <% for(let j = 0; j < 8; j++) {%>
                    <td> 


                      <!--Might need a new div to style correctly--> 
                      <ul>
                        <% for(let k = 0; k < 24; k++) {%>
                          <!--This line gets each hour's data for the measurement that the i loop is on-->
                          <li> <%= weatherJSON.hourly.wind_speed_10m[k+(j*24)]%> </li>
                        <% }%>
                      </ul>  


                    </td>
                  <% }%>


                </tr>

                <tr> 


                  <% for(let j = 0; j < 8; j++) {%>
                    <td> 


                      <!--Might need a new div to style correctly--> 
                      <ul>
                        <% for(let k = 0; k < 24; k++) {%>
                          <!--This line gets each hour's data for the measurement that the i loop is on-->
                          <li> <%= marineJSON.hourly.wave_height[k+(j*24)]%> </li>
                        <% }%>
                      </ul>  


                    </td>
                  <% }%>


                </tr>

                <tr> 


                  <% for(let j = 0; j < 8; j++) {%>
                    <td> 


                      <!--Might need a new div to style correctly--> 
                      <ul>
                        <% for(let k = 0; k < 24; k++) {%>
                          <!--This line gets each hour's data for the measurement that the i loop is on-->
                          <li> <%= marineJSON.hourly.wave_direction[k+(j*24)]%> </li>
                        <% }%>
                      </ul>  


                    </td>
                  <% }%>


                </tr>

                <tr> 


                  <% for(let j = 0; j < 8; j++) {%>
                    <td> 


                      <!--Might need a new div to style correctly--> 
                      <ul>
                        <% for(let k = 0; k < 24; k++) {%>
                          <!--This line gets each hour's data for the measurement that the i loop is on-->
                          <li> <%= marineJSON.hourly.wave_period[k+(j*24)]%> </li>
                        <% }%>
                      </ul>  


                    </td>
                  <% }%>

                </tr>


            </tbody>
          </table>
          <form action = "/users/addLocation" method = "POST">
          <input type ="number" id = "latitude" name = "latitude" min = "-179.9999" max = "179.9999">
          <input type ="number" id = "longitude" name = "longitude" min = "-179.9999" max = "179.9999">
          <input type = "submit" value = "addLocation">
        </form>
        </div>
        
      </div>
      

      
      <div id = "page_bottom"> 
        <nav id = "map"><a href = "">Add location</a></nav>
        <nav id = "parameters"><a href = "/preferences">Adjust Parameters</a></nav>
      </div>
    </div>
  </body>
</html>
